<tr>
    <input type="text" name="varia" [(ngModel)]="quant"  placeholder="state "/>
    </tr>
    <tr>
    <input type="text" name="critere" [(ngModel)]="crit"  placeholder="Criteria "/>
    </tr>
<table>
<th>
    refrence
</th>
<th>
    title
</th>
<th>
    entreprise
</th>

<tr *ngFor="let items of listeEmploi;">
<th>{{items.refrence}}</th>
<th>{{items.titre}}</th>
<th>{{items.entreprise}}</th>
<button [disabled]="items.etat==false">Postuler !</button>
</tr>   
</table>
<button (click)="srn()">Bilan !</button>
<button class="btn btn-primary" (click)="onnumber()"> Search </button>
{{result}}


