<p>product works!</p>

<h1>{{title}}</h1>
<tr>
<input type="number" name="varia" [(ngModel)]="quant"  placeholder="Quantity to be filtered "/>
</tr>
<tr>
<input type="text" name="critere" [(ngModel)]="crit"  placeholder="Criteria "/>
</tr>
<table>

       <th *ngFor="let items of listProduct;,let i=index">
        <div *ngIf="items.price<filter || filter==null">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/{{items.title}}.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{items.title}}</h5>
          <table class="card-text">
            <tr>
                <th>id : {{items.id}}</th>
            </tr>
            <tr>
                <th>price : {{items.price}}</th>
            </tr>
            <tr>
                <th>quantity : {{items.quantity}}</th>
            </tr>          
            <tr>
                <th>likes : {{items.like}}</th>
            </tr>
            
          </table>
          <button class="btn btn-primary" (click)="buy(i)" [disabled]="items.quantity==0">Buy !</button>
          <button class="btn btn-primary" (click)="like(i)">like !</button>
          <button class="btn btn-primary" routerLink="/details/{{items.id}}" >Details</button>

        </div>
      </div>
    </div>

</table>
<button class="btn btn-primary" (click)="onnumber()"> Search </button>
{{result}}

<!--      
        <th>
            id
        </th>
        <th>
            title
        </th>
        <th>
            price
        </th>
        <th>
            quantity
        </th>
        <th>
            Like
        </th>
        <tr *ngFor="let items of listProduct;">
        <th>{{items.id}}</th>
        <th>{{items.title}}</th>
        <th>{{items.price}}</th>
        <th>{{items.quantity}}</th>
        <th>{{items.like}}</th>
        <button>Buy!</button>
        <button>Like!</button>
    </tr>   
</table>
-->